@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  /* Colours */
  --copyright: #d6d6d6;
  --background: #eeeeee;
  --primary: #fff;
  /* Text Colours*/
  --dark-green: #3a5a40;
  --light-green: #a3b18a;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background);
}

/* Promotions */

.promotion {
  background-color: var(--black);
  padding: 1% 7%;
  width: 100%;
}

.promotion p {
  text-align: center;
  color: var(--primary);
  font-weight: 500;
}

/* Header */

.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--primary);
  width: 90%;
  margin: 0 5%;
  padding: 0.5% 4%;
  border-radius: 0 0 10px 10px;
  border: solid 2px var(--background);
  z-index: 2;
}

.header .toggle-menu {
  display: none;
}

.header .logo img {
  max-height: 60px;
  cursor: pointer;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.1);
}

.header .nav_link {
  display: inline-block;
  position: relative;
  color: var(--dark-green);
}

.header .nav_link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--dark-green);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header .nav_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.icon_link {
  list-style: none;
  transition: all 0.3s;
}

.icon_link:hover {
  transform: scale(1.1);
}

.header .navbar-list,
.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1px 0;
}

.navbar-list li:first-child > a {
  color: var(--primary);
  background-color: var(--dark-green);
  border-radius: 10px;
  padding: 2px 10px;
}

.header .nav_link a,
.icon_link a {
  color: var(--dark-green);
  text-decoration: none;
}

.header .icon_link span {
  color: var(--primary);
  background-color: var(--dark-green);
  padding: 1px 5px;
  border-radius: 10px;
  margin-right: 5px;
}

/* Header - End */

main {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1% 5%;
  border-radius: 10px;
  z-index: 1;
}

/* Hero */

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
}

#hero .hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

#hero .hero-top-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5% 15%;
  margin-top: 10%;
}

.hero-top-left .button {
  background-color: var(--primary);
  color: var(--dark-green);
  text-align: center;
  align-self: flex-start;
  padding: 1.5% 5%;
  font-size: 100%;
  border: 1px solid var(--dark-green);
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.hero-top-left .button:hover {
  background-color: var(--dark-green);
  color: var(--primary);
}

#hero .hero-bottom-left {
  display: flex;
  justify-content: space-around;
}

#hero .hero-bottom-left img {
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
}

/* Right Side */

#hero .hero-right {
  background-image: url(assets/hero-right.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  cursor: pointer;
  border-radius: 0 10px 0 10px;
}

.hero-right h3 {
  align-self: center;
  font-size: 200%;
  color: var(--primary);
  padding: 2% 5%;
  border: solid 4px var(--primary);
  transition: all 0.3s;
}

.hero-right h3:hover {
  transform: scale(1.05);
}

/* Hero - End */

#product {
  width: 100%;
  height: 600px;
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-top,
.product-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-top h2 {
  padding: 1% 2.5%;
  border-radius: 10px;
  background-color: var(--dark-green);
  text-align: center;
  font-size: 50px;
  color: var(--primary);
}

#product img {
  width: 100%;
}

.product-bottom h3 {
  text-align: center;
  font-size: 25px;
  color: var(--black);
}

.product-bottom p {
  margin: 0.5% 0 1%;
  text-align: center;
}

.product-bottom button {
  background-color: var(--primary);
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
  border-radius: 15px;
  text-align: center;
  font-weight: 600;
  padding: 0.5% 1.5%;
  transition: all 0.3s;
  cursor: pointer;
}

.product-bottom button:hover,
.style-card button:hover {
  color: var(--primary);
  background-color: var(--dark-green);
}

/* Discount Ad */

#discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
  width: 100%;
  background-color: var(--light-green);
}

#discount h2 {
  font-size: 250%;
  margin-bottom: 0.5%;
}

#discount span {
  border: solid 1px var(--black);
}

#discount p {
  margin-top: 2.5%;
  font-size: 70%;
}

/* Discount Ad - End */

#outlet-styles {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.style-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  cursor: pointer;
}

.style-card img {
  height: 450px;
  border-radius: 50px;
  transition: all 0.3s;
}

.style-card img:hover,
.socials img:hover {
  transform: scale(1.05);
}

.style-card h3 {
  margin: 5% 0 2% 0;
}

.style-card button {
  background-color: var(--primary);
  border: 1px solid var(--dark-green);
  border-radius: 15px;
  font-weight: 600;
  color: var(--dark-green);
  padding: 5px 15px;
  transition: all 0.3s;
  margin-top: 2.5%;
  cursor: pointer;
}

/* Brands */

#trending-brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5%;
}

.brand-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand-logos img {
  width: 150px;
  margin: 3% 5%;
  filter: grayscale(100%);
  transition: all 0.3s;
}

.brand-logos img:hover {
  transform: scale(1.1);
  filter: none;
}

/* Brands - End */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  font-size: 85%;
}

.footer-top {
  width: 100%;
  padding: 0 10% 1%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* Footer Top-Left Side */

#about {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
  gap: 5%;
}

#about .about_link,
#about .about_link a {
  margin: 3.5% 0;
  list-style: none;
  color: var(--black);
  text-decoration: none;
}

#about .about_link a:hover {
  color: var(--dark-green);
}

#about h4 {
  margin-bottom: 7%;
  cursor: default;
}

/* Righ Side */

#get-in-touch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

#get-in-touch .logo {
  width: 15%;
}

.contact-us {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.follow-us {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2.5% 0;
  gap: 5%;
}

.socials img {
  width: 25px;
  transition: all 0.3s;
}

.subscribe form {
  display: flex;
  align-items: bottom;
  margin-top: 1.5%;
}

.subscribe input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--black);
  background-color: var(--background);
  margin-right: 2%;
}

.subscribe button {
  border: none;
  cursor: pointer;
}

/* footer-bottom */

.footer-bottom {
  width: 100%;
  padding: 1% 5%;
  background-color: var(--copyright);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom #terms {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#terms p:first-child {
  padding-right: 10px;
  border-right: solid 1px var(--black);
}

#terms p {
  cursor: pointer;
  transition: all 0.3s;
}

#terms p:hover {
  color: var(--dark-green);
}

@media (max-width: 1200px) {
  main {
    font-size: 90%;
  }

  #hero {
    height: 700px;
  }

  #product {
    height: 500px;
  }

  .product-top h2 {
    font-size: 38px;
  }

  /* Outlet */

  .style-card img {
    height: 350px;
    border-radius: 45px;
  }

  .brand-logos img {
    width: 125px;
  }

  /* footer */

  .footer-top,
  .footer-bottom {
    font-size: smaller;
  }
}

@media (max-width: 992px) {
  .promotion {
    font-size: 90%;
  }

  .header,
  main {
    width: 100%;
    margin: 0;
  }

  /* header - End */

  main {
    font-size: 90%;
  }

  /* hero */

  #hero {
    flex-direction: column-reverse;
    height: 675px;
  }

  #hero .hero-left {
    height: 200px;
    width: 100%;
  }

  #hero .hero-top-left {
    margin-top: 0;
    padding-bottom: 2.5%;
  }

  #hero .hero-bottom-left {
    display: none;
  }

  #hero .hero-right {
    width: 100%;
    border-radius: 0;
  }

  /* hero - End */

  #product {
    height: 450px;
    margin-top: 0;
  }

  .product-top h2 {
    font-size: 38px;
  }

  #outlet-styles,
  .brand-logos {
    flex-wrap: wrap;
  }

  /* footer */
  .footer-top {
    display: none;
  }

  .footer-bottom {
    font-size: smaller;
  }
}

@media (max-width: 768px) {
  .promotion {
    font-size: 90%;
  }

  .header,
  main {
    width: 100%;
    margin: 0;
  }

  .header .toggle-menu {
    display: block;
    cursor: pointer;
  }

  .header .logo {
    margin: 0 60% 0 5%;
  }

  .header .navbar {
    display: none;
  }

  .icon-list {
    gap: 10px;
  }

  /* header - End */

  main {
    font-size: 90%;
  }

  /* hero */

  #hero {
    flex-direction: column-reverse;
    height: 650px;
  }

  #hero .hero-left {
    height: 200px;
    width: 100%;
  }

  #hero .hero-top-left {
    margin-top: 0;
    padding-bottom: 2.5%;
  }

  #hero .hero-bottom-left {
    display: none;
  }

  #hero .hero-right {
    width: 100%;
    border-radius: 0;
  }

  /* hero - End */

  #product {
    height: 375px;
    margin-top: 0;
  }

  .product-top h2 {
    font-size: 22px;
  }

  .product-bottom h3,
  .product-bottom button {
    font-size: 90%;
  }

  #outlet-styles,
  .brand-logos {
    flex-wrap: wrap;
  }

  /* footer */
  .footer-top {
    display: none;
  }

  .footer-bottom {
    font-size: smaller;
  }
}

@media (max-width: 576px) {
  .promotion {
    font-size: 80%;
  }

  .header,
  main {
    width: 100%;
    margin: 0;
  }

  .header .toggle-menu {
    display: block;
    cursor: pointer;
  }

  .header .logo {
    margin: 0 65% 0 2.5%;
  }

  .header .navbar {
    display: none;
  }

  .header .badge {
    display: none;
  }

  /* header - End */

  main {
    font-size: 80%;
  }

  /* hero */

  #hero {
    flex-direction: column-reverse;
  }

  #hero .hero-left {
    width: 100%;
  }

  #hero .hero-top-left {
    margin-top: 0;
    padding-bottom: 2.5%;
  }

  #hero .hero-bottom-left {
    display: none;
  }

  #hero .hero-right {
    width: 100%;
    border-radius: 0;
  }

  /* hero - End */

  #product {
    margin-top: 0;
  }

  .product-top h2 {
    font-size: 22px;
  }

  .product-bottom h3,
  .product-bottom button {
    font-size: 90%;
  }

  #outlet-styles,
  .brand-logos {
    flex-wrap: wrap;
  }

  /* footer */
  .footer-top {
    display: none;
  }

  .footer-bottom {
    font-size: smaller;
  }
}
